@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins:wght@100;200;400&family=Quicksand:wght@300;400;500&display=swap');


:root {
    --primary: #5F82F4;
    --secondary: #D7DEFB;
    --light: #F6F5FB;
    --border-radius: 1rem;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
li{
    list-style-type: none;
}
.navbar{
    background-color: var(--secondary);
    color: #616266bb;
    text-align: center;
}
aside > h4, #search-history-list{
    color: var(--light);
    font-size: 20px;
    
}
.sidenav{
    background-color: var(--primary);
    border-radius: var(--border-radius);
    height: 100%;
    padding: 15px;
}
.btn{
    color: #FFFFFD,
}
.row.content {
    height: 600px;
}

.current-weather-box, .day{
    border: 1px solid rgb(238, 236, 236);
    border-radius: var(--border-radius);
}
.class-header{
    background-color: var(--primary);
    color: var(--light);
}